<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Login Curso Symfony 4{% endblock %}</title>
        {% block stylesheets %} 
                <style>
                    .titulo{
                        color: blue;
                    }
                </style>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <form action="login_check" method="POST">
                <label for="fname">E-Mail</label><br>
                <input type="email" id="fname" name="email" value="" required><br>
                <label for="lname">Password</label><br>
                <input type="password" id="lname" name="pass" value="" required><br><br>
                <input type="submit" value="Ingresar">
            </form> 

        {% endblock %}
    </body>
</html>
