<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Login Curso Symfony 4{% endblock %}</title>
        {% block stylesheets %} 

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Email o contraseña incorrecta</h1>
            <a href="/cursos_2021/symfony_4/public/index.php/inicio/login">Volver al inicio</a>
        {% endblock %}
    </body>
</html>
